@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-light: rgba(32,52,86,1);

  --bg-dark: #242424;
  --bg-light: rgb(133 133 133 / 100%);

  --bg-back: var(--bg-dark);
  --bg-card: rgb(64 64 64 / 100%);
  --bg-element: rgb(133 133 133 / 100%);

  --border-color-back: var(--bg-card);
  --border-color-card: black;

  --bg-neutral: rgb(31 41 55);
  --bg-success: rgb(14, 158, 67);
  --bg-warning: rgb(202 138 4);
  --bg-strong-warning: rgb(219, 91, 0);
  --bg-danger: rgb(239 68 68);

  --success-text: white;
  --warning-text: black;
  --danger-text: white;

  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-hover: rgba(218, 218, 218, 0.87);
  --text-color-light: var(--text-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.light-theme {
  --bg-back: rgb(201, 201, 201);
  --bg-card: rgb(177, 177, 177);
  --bg-element: rgb(201, 201, 201);

  --bg-warning: rgb(240, 167, 11);
  --bg-strong-warning: rgb(235, 98, 0);
  --bg-danger: rgb(216, 18, 18);

  --border-color-back: var(--bg-dark);
  --border-color-card: var(--bg-dark);

  --text-color: rgb(59, 59, 59);
  --text-color-inverted: rgba(255, 255, 255, 0.87);
  --text-color-hover: rgb(90, 90, 90);

  --text-color-light: var(--text-color-inverted);

  --background-light: rgb(59, 59, 59);
}

body.theme-is-changing {
  opacity: 0.1;
  transition: opacity 0.2s ease-in-out;
}

body {  
  color: var(--text-color);
  background-color: var(--dark-bg);

  /*background: linear-gradient(180deg, var(--bg-dark) 0%, rgba(35,41,53,1) 36%, rgba(35,42,57,1) 55%, rgba(34,46,67,1) 69%, rgba(32,52,86,1) 100%);*/
  background: linear-gradient(180deg, var(--bg-back) 0%, var(--bg-back) 10%, var(--background-light) 100%);
  background: radial-gradient(circle, var(--background-light) 0%, var(--bg-back) 90%);

  transition-property: color, background;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.text-color--main {
  color: var(--text-color)
}

.text-color--inverted {
  color: var(--text-color-inverted)
}

.text-color--light {
  color: var(--text-color-light)
}

.border-color-back {
  border-color: var(--border-color-back);
}

.border-color-card {
  border-color: var(--border-color-card);
}

.border-color-element {
  border-color: var(--bg-element);
}

.bg-dark {
  background: var(--bg-dark);
}

.bg-back {
  background: var(--bg-back);
}

.bg-card {
  background: var(--bg-card);
}

.bg-element {
  background: var(--bg-element);
}

.bg-light {
  background: var(--bg-light);
}

.bg-success {
  background: var(--bg-success);
  color: var(--text-color-light);
}

.bg-neutral {
  background: var(--bg-neutral);
  color: var(--text-color-light);
}

.bg-warning {
  background: var(--bg-warning);
}

.bg-strong-warning {
  background: var(--bg-strong-warning);
  color: var(--text-color-light);
}

.bg-danger {
  background: var(--bg-danger);
  color: var(--text-color-light);
}

button:is(.bg-success,.bg-neutral,.bg-danger):hover {
  filter: brightness(1.2);
}


h1 {
  font-weight: bolder;
  font-size: larger;
}

h2 {
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 0.5rem;
}

h4 {
  font-weight: bolder;
  font-size: large;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--text-color-hover);
  transition: color 0.1s ease-in-out;
}

.small-icon {
  height: 1.2rem;
}

.achievementBadge {
  --highlight: #c8b618;
  --highlight-bg: rgb(146, 133, 17);

  color: var(--text-color-light);

  background: var(--bg-dark);
  border: solid 1px var(--bg-medium);
}

.achievementBadge svg {
  width: 2rem;
  aspect-ratio: 1;
}

.achievementBadge.negative {
  --highlight: rgb(236, 4, 4);
  --highlight-bg: #bf0101
}

.achievementBadge.neutral {
  --highlight: var(--text-color-light);
  --highlight-bg: var(--text-color-light);
}

.achievementBadge.unlocked {
  border: solid 1px var(--highlight-bg);
  background: linear-gradient(175deg, var(--bg-dark) 68%, var(--highlight-bg) 80%, var(--bg-dark) 93%);
}

.achievementBadge.unlocked svg, .achievementBadge.unlocked .label {
  color: var(--highlight);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;  
  z-index: -1;
}

.modal--body {
  transition: all 0.3s ease-in-out;
  transform: translateY(-50px);
}

.modal.show {
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal.show .modal--body{
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

/* Input Range*/
/* Reseting default styles*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Chrome, Safari, Opera, and Edge Chromium */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--bg-light);
  height: 0.2rem;
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: var(--bg-light);
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -12px; /* Centers thumb on the track */
  background-color: var(--bg-card);
  height: 1.8rem;
  width: 0.5rem;
  border: 2px solid var(--bg-dark);    
  border-radius: 0.2rem;
}